attrs==19.1.0
Automat==0.7.0
backports.ssl-match-hostname==3.7.0.1
certifi==2019.6.16
cffi==1.12.3
constantly==15.1.0
futures==3.1.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
linecache2==1.0.0
Monotime==1.0
pkg-resources==0.0.0
pycares==3.0.0
pycparser==2.19
pycurl==7.43.0.3
PyHamcrest==1.9.0
six==1.12.0
tornado==6.0.3
traceback2==1.4.0
Twisted==19.7.0
unittest2==1.1.0
websocket-client==0.56.0
zope.interface==4.6.0
